<div class="card card-body pb-0">
  <div class="activity-stream">
    <div class="card">
      <div class="card-header">
        <img class="card-avatar" src="assets/images/face1.jpg">
        <div class="card-header-text">
          <div class="card-title">Received a call from Joel</div>
          <div class="card-subtitle">Header subtitle</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-avatar widget-icon rounded-circle bg-orange text-white icon icon-basic-paperplane"></div>
        <div class="card-header-text">
          <div class="card-title">Header with icon</div>
          <div class="card-subtitle">Header subtitle</div>
        </div>
      </div>
      <div class="card-body">
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a href="javascript:;" class="mr-1">Like</a>
        <a href="javascript:;">Comment</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img class="card-avatar" src="assets/images/face2.jpg">
        <div class="card-header-text">
          <div class="card-title">Header title</div>
          <div class="card-subtitle">Added a photo</div>
        </div>
      </div>
      <div class="card-body">
        <img src="assets/images/unsplash/20.jpg" style="width: 300px;">
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img class="card-avatar" src="assets/images/face3.jpg">
        <div class="card-header-text">
          <div class="card-title">Header title</div>
          <div class="card-subtitle">Header subtitle</div>
        </div>
      </div>
      <div class="card-body">
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img class="card-avatar" src="assets/images/face4.jpg">
        <div class="card-header-text">
          <div class="card-title">Uploaded new file</div>
          <div class="card-subtitle">Header subtitle</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-avatar widget-icon rounded-circle bg-purple text-white icon icon-basic-accelerator"></div>
        <div class="card-header-text">
          <div class="card-title">Header with icon</div>
          <div class="card-subtitle">Header subtitle</div>
        </div>
      </div>
      <div class="card-body">
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
    </div>
  </div>
</div>