<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Vertical bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-vertical
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)"
            (legendLabelClick)="onLegendLabelClick($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Horizontal bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-horizontal
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (legendLabelClick)="onLegendLabelClick($event)"
            (select)="select($event)">
          </ngx-charts-bar-horizontal>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Grouped vertical bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-vertical-2d
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [tooltipDisabled]="tooltipDisabled"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [groupPadding]="groupPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Grouped horizontal bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-horizontal-2d
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [groupPadding]="groupPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-2d>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Stacked vertical bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-vertical-stacked
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Stacked horizontal bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-horizontal-stacked
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-stacked>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Normalized vertical bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-vertical-normalized
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-vertical-normalized>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">Normalized horizontal bar chart</div>
      <div class="card-body">
        <div>
          <ngx-charts-bar-horizontal-normalized
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="multi"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (legendLabelClick)="onLegendLabelClick($event)"
            [showGridLines]="showGridLines"
            [barPadding]="barPadding"
            [roundDomains]="roundDomains"
            (select)="select($event)">
          </ngx-charts-bar-horizontal-normalized>
        </div>
      </div>
    </div>
  </div>
</div>