USE [JewelleryCatelogue]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18-05-2018 19:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IncludeInTopMenu] [bit] NOT NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](400) NULL,
	[MetaTitle] [nvarchar](400) NULL,
	[Name] [nvarchar](400) NOT NULL,
	[ParentCategoryId] [int] NULL,
	[PictureId] [int] NULL,
	[Published] [bit] NOT NULL,
	[ShowOnHomePage] [bit] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMSs]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMSs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IncludeInFooter] [bit] NOT NULL,
	[IncludeInTopMenu] [bit] NOT NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](400) NULL,
	[MetaTitle] [nvarchar](400) NULL,
	[PageName] [nvarchar](256) NOT NULL,
	[Published] [bit] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_CMSs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IncludeInTopMenu] [bit] NOT NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](400) NULL,
	[MetaTitle] [nvarchar](400) NULL,
	[Name] [nvarchar](400) NOT NULL,
	[PictureId] [int] NULL,
	[ShowOnHomePage] [bit] NOT NULL,
 CONSTRAINT [PK_Collections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyConfigurations]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyConfigurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](400) NULL,
	[ColorScheme] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Email] [nvarchar](400) NOT NULL,
	[LogoBinary] [varbinary](max) NOT NULL,
	[MapBinary] [varbinary](max) NOT NULL,
	[MimeType] [nvarchar](40) NULL,
	[Mobile] [nvarchar](18) NULL,
	[Name] [nvarchar](256) NOT NULL,
	[OpeningHours] [nvarchar](256) NULL,
	[Phone] [nvarchar](18) NULL,
 CONSTRAINT [PK_CompanyConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Wishlist_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Wishlist_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Customer_Wishlist_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[CustomerGuid] [uniqueidentifier] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Email] [nvarchar](400) NOT NULL,
	[LastLoginDateUtc] [datetime2](7) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiry_Product_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiry_Product_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InquiryId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Inquiry_Product_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquirys]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquirys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Inquirys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AltAttribute] [nvarchar](max) NULL,
	[IsNew] [bit] NOT NULL,
	[MimeType] [nvarchar](40) NULL,
	[PictureBinary] [varbinary](max) NOT NULL,
	[SeoFilename] [nvarchar](300) NULL,
	[TitleAttribute] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Category_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Category_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsFeaturedProduct] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Product_Category_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Collection_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Collection_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CollectionId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Product_Collection_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Metal_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Metal_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[MetalPurity] [int] NOT NULL,
	[MetalType] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
	[Weight] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_Product_Metal_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Picture_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Picture_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[PictureId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Product_Picture_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_ProductTag_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_ProductTag_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductTagId] [int] NOT NULL,
 CONSTRAINT [PK_Product_ProductTag_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Stone_Mappings]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Stone_Mappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
	[StoneCarat] [decimal](18, 4) NOT NULL,
	[StoneClarityId] [int] NOT NULL,
	[StoneColorId] [int] NOT NULL,
	[StoneCutId] [int] NOT NULL,
	[StonePositionId] [int] NOT NULL,
	[StoneQuantity] [int] NOT NULL,
	[StoneShapeId] [int] NOT NULL,
	[StoneTypeId] [int] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Product_Stone_Mappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DesignCode] [nvarchar](30) NOT NULL,
	[DisableInquiryButton] [bit] NOT NULL,
	[Discount] [decimal](18, 4) NOT NULL,
	[DiscountEndDateTimeUtc] [datetime2](7) NULL,
	[DiscountStartDateTimeUtc] [datetime2](7) NULL,
	[DiscountType] [char](1) NULL,
	[DisplayOrder] [int] NOT NULL,
	[DisplayStockAvailability] [bit] NOT NULL,
	[DisplayStockQuantity] [bit] NOT NULL,
	[FullDescription] [nvarchar](max) NULL,
	[Height] [decimal](18, 4) NOT NULL,
	[Length] [decimal](18, 4) NOT NULL,
	[MarkAsNew] [bit] NOT NULL,
	[MarkAsNewEndDateTimeUtc] [datetime2](7) NULL,
	[MarkAsNewStartDateTimeUtc] [datetime2](7) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](400) NULL,
	[MetaTitle] [nvarchar](400) NULL,
	[Name] [nvarchar](400) NOT NULL,
	[Price] [decimal](18, 4) NOT NULL,
	[Published] [bit] NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[ShowOnHomePage] [bit] NOT NULL,
	[Sku] [nvarchar](400) NULL,
	[StockQuantity] [int] NOT NULL,
	[UpdatedOnUtc] [datetime2](7) NULL,
	[Weight] [decimal](18, 4) NOT NULL,
	[Width] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](400) NULL,
 CONSTRAINT [PK_ProductTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 18-05-2018 19:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_Subscribers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18-05-2018 19:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[LastLoginDateUtc] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedOnUtc] [datetime2](7) NOT NULL,
	[FullName] [nvarchar](80) NULL,
	[ProfilePicBinary] [varbinary](max) NULL,
	[MimeType] [nvarchar](40) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CreatedOnUtc], [Deleted], [Description], [DisplayOrder], [IncludeInTopMenu], [MetaDescription], [MetaKeywords], [MetaTitle], [Name], [ParentCategoryId], [PictureId], [Published], [ShowOnHomePage], [UpdatedOnUtc]) VALUES (1, CAST(N'2018-05-14T00:00:00.0000000' AS DateTime2), 0, N'Ring', 1, 1, N'Ring', N'Ring', N'Ring', N'Ring', NULL, NULL, 1, 1, CAST(N'2018-05-14T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([Id], [Description], [DisplayOrder], [IncludeInTopMenu], [MetaDescription], [MetaKeywords], [MetaTitle], [Name], [PictureId], [ShowOnHomePage]) VALUES (1, N'test', 1, 1, N'Test Description', N'Test Meta Keyword', N'test Meta', N'TEST COLLECTION', NULL, 1)
SET IDENTITY_INSERT [dbo].[Collections] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Pictures_PictureId] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Pictures_PictureId]
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD  CONSTRAINT [FK_Collections_Pictures_PictureId] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([Id])
GO
ALTER TABLE [dbo].[Collections] CHECK CONSTRAINT [FK_Collections_Pictures_PictureId]
GO
ALTER TABLE [dbo].[Customer_Wishlist_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Wishlist_Mappings_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Wishlist_Mappings] CHECK CONSTRAINT [FK_Customer_Wishlist_Mappings_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Customer_Wishlist_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Wishlist_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Wishlist_Mappings] CHECK CONSTRAINT [FK_Customer_Wishlist_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Inquiry_Product_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_Product_Mappings_Inquirys_InquiryId] FOREIGN KEY([InquiryId])
REFERENCES [dbo].[Inquirys] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inquiry_Product_Mappings] CHECK CONSTRAINT [FK_Inquiry_Product_Mappings_Inquirys_InquiryId]
GO
ALTER TABLE [dbo].[Inquiry_Product_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Inquiry_Product_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inquiry_Product_Mappings] CHECK CONSTRAINT [FK_Inquiry_Product_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Inquirys]  WITH CHECK ADD  CONSTRAINT [FK_Inquirys_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inquirys] CHECK CONSTRAINT [FK_Inquirys_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Product_Category_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_Mappings_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Category_Mappings] CHECK CONSTRAINT [FK_Product_Category_Mappings_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Product_Category_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Category_Mappings] CHECK CONSTRAINT [FK_Product_Category_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Product_Collection_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Collection_Mappings_Collections_CollectionId] FOREIGN KEY([CollectionId])
REFERENCES [dbo].[Collections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Collection_Mappings] CHECK CONSTRAINT [FK_Product_Collection_Mappings_Collections_CollectionId]
GO
ALTER TABLE [dbo].[Product_Collection_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Collection_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Collection_Mappings] CHECK CONSTRAINT [FK_Product_Collection_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Product_Metal_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Metal_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Metal_Mappings] CHECK CONSTRAINT [FK_Product_Metal_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Product_Picture_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Picture_Mappings_Pictures_PictureId] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Picture_Mappings] CHECK CONSTRAINT [FK_Product_Picture_Mappings_Pictures_PictureId]
GO
ALTER TABLE [dbo].[Product_Picture_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Picture_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Picture_Mappings] CHECK CONSTRAINT [FK_Product_Picture_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Product_ProductTag_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductTag_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_ProductTag_Mappings] CHECK CONSTRAINT [FK_Product_ProductTag_Mappings_Products_ProductId]
GO
ALTER TABLE [dbo].[Product_ProductTag_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductTag_Mappings_ProductTags_ProductTagId] FOREIGN KEY([ProductTagId])
REFERENCES [dbo].[ProductTags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_ProductTag_Mappings] CHECK CONSTRAINT [FK_Product_ProductTag_Mappings_ProductTags_ProductTagId]
GO
ALTER TABLE [dbo].[Product_Stone_Mappings]  WITH CHECK ADD  CONSTRAINT [FK_Product_Stone_Mappings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product_Stone_Mappings] CHECK CONSTRAINT [FK_Product_Stone_Mappings_Products_ProductId]
GO
