<div class="text-ce-center">
  <label class="switch m-b">
    <div class="slide-toggle-bar">
      <input type="checkbox" checked>
      <span></span>
    </div>
    <span class="slide-toggle-content">Pay annual save up to 25%</span>
  </label>
</div>

<div class="card-group pricing">
  <div class="card">
    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">Developer</div>
        <div class="card-subtitle">For testing purposes</div>
      </div>
    </div>
    <div class="card-body">
      <h1>FREE</h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">Basic</div>
        <div class="card-subtitle">For freelancers</div>
      </div>
    </div>
    <div class="card-body">
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>10</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>5 concurrent users</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">Managed</div>
        <div class="card-subtitle">For small businesses</div>
      </div>
    </div>
    <div class="card-body">
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>49</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Unlimited users</li>
        <li>Data analytics</li>
        <li>Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">Enterprise</div>
        <div class="card-subtitle">For large businesses</div>
      </div>
    </div>
    <div class="card-body">
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>99</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Unlimited users</li>
        <li>Data analytics</li>
        <li>Full search access</li>
        <li>Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
</div>
