<div class="card card-body mb-0">
  <h6 class="text-uppercase">Welcome to the forums</h6>
  <span>Currently viewing 10 topics</span>
</div>

<div class="p-3">
  <div class="card">

    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">
          General Topics
        </div>
        <div class="card-subtitle text-capitalize ff-sans">
          Total posts: 73,564
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-headset"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Forum Rules</a>
          <div>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>890</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>465</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>375</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-purple text-white icon icon-basic-elaboration-message-check"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Official Announcements</a>
          <div>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>46</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>78</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>22</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-brown text-white icon icon-basic-elaboration-message-plus"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Technical Announcements</a>
          <div>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>567</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>686</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>982</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-indigo text-white icon icon-basic-elaboration-mail-next"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Marketing</a>
          <div>Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>4653</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>6785</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>9456</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card">

    <div class="card-header">
      <div class="card-header-text w-100">
        <div class="card-title">
          Client Topics
        </div>
        <div class="card-subtitle text-capitalize ff-sans">
          Total posts: 78,548
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-grey text-white icon icon-basic-accelerator"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Wordpress support</a>
          <div>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>890</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>465</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>375</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-grey-400 text-white icon icon-basic-gear"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">HTML Templates</a>
          <div>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>46</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>78</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>22</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-grey-300 text-white icon icon-basic-lock"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">UI/UX Designs</a>
          <div>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>567</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>686</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>982</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="mr-3">
          <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-elaboration-mail-next"></div>
        </div>
        <div class="mr-auto">
          <a href="javascript:;" class="ff-headers text-color">Customizations</a>
          <div>Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</div>
        </div>
        <div class="d-flex">
          <div class="forum-stat">
            <h6>4653</h6>
            <small class="d-block">Views</small>
          </div>
          <div class="forum-stat">
            <h6>6785</h6>
            <small class="d-block">Topics</small>
          </div>
          <div class="forum-stat">
            <h6>9456</h6>
            <small class="d-block">Replies</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
