<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{ title }} User
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <span class="m-nav__link-text">
            {{ title }} User
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <!--begin::Form-->
        <form [formGroup]="userForm" (ngSubmit)="save()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="m_form_1">
          <div class="m-portlet__body">
            <input type="hidden" formControlName="id">
            <div class="form-group m-form__group row">

              <div class="col-lg-6">
                <div class="row">
                  <label class="col-3 col-form-label">
                    Is Email Verified
                  </label>
                  <div class="col-2">
                    <span class="m-switch m-switch--icon-check">
                      <label>
                        <input type="checkbox"  formControlName="emailConfirmed">
                        <span></span>
                      </label>
                    </span>
                  </div>
                  <label class="col-2 col-form-label">
                    Is Active
                  </label>
                  <div class="col-1">
                    <span class="m-switch m-switch--icon-check">
                      <label>
                        <input type="checkbox"  formControlName="active">
                        <span></span>
                      </label>
                    </span>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group m-form__group row">

              <div class="col-lg-6">
                <label>
                  fullname
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter fullname" formControlName="fullName">

              </div>
              <div class="col-lg-6">
                <label class="">
                  UserName
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter Unique Username" formControlName="userName">

              </div>
            </div>
            <div class="form-group m-form__group row">

              <div class="col-lg-6">
                <label class="">
                  Mobile
                </label>
                <input type="text" class="form-control m-input" placeholder="Enter Mobile" formControlName="phoneNumber">

              </div>
              <div class="col-lg-6 col-md-9 col-sm-12">
                <!--<div class="m-dropzone dropzone m-dropzone--success" action="api/upload" id="m-dropzone-three">
    <div class="m-dropzone__msg dz-message needsclick">

      <h3 class="m-dropzone__msg-title">
        Drop files here or click to upload.
      </h3>
      <span class="m-dropzone__msg-desc">
        Only image are allowed for upload
      </span>
    </div>
  </div>-->
                <label for="avatar">Upload your Profile Pic</label>
                <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput  class="form-control m-input">
              </div>


            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Email
                </label>
                <input type="email" class="form-control m-input" placeholder="Enter Email" formControlName="email">

              </div>
              <div class="col-lg-6">
                <label class="">
                  Password
                </label>
                <input type="password" class="form-control m-input" placeholder="Enter Password" formControlName="password">

              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
              <div class="row">
                <div class="col-lg-6">
                  <button type="submit" [disabled]="!userForm.valid" class="btn m-btn--square btn-primary btn-sm">
                    {{title}} User
                  </button>
                  <button type="reset" class="btn m-btn--square btn-secondary btn-sm">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--end::Form-->
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
