<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
    <div class="card card-success card-inverse">
      <div class="card-header">
        Draggable card one
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card card-info card-inverse">
      <div class="card-header">
        Draggable card two
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
    <div class="card card-danger card-inverse">
      <div class="card-header">
        Draggable card three
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card card-primary card-inverse">
      <div class="card-header">
        Draggable card four
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" [dragula]='"first-bag"'>
    <div class="card card-warning card-inverse">
      <div class="card-header">
        Draggable card five
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Draggable card six
      </div>
      <div class="card-body">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
</div>