<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          576K
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Users</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          99.99%
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Uptime</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-magic-mouse">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          465K
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Visitors</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-body card-widget">
      <div class="widget-icon rounded-circle bg-red text-white icon icon-basic-heart">
      </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7,578
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Likes</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            GDP Per Capita
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-xs-6 col-sm-3 text-success">
            <h5 class="mb-0">
              <strong>
                34.45B
              </strong>
            </h5>
            <small>
              Income
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                34%
              </strong>
            </h5>
            <small>
              Growth
            </small>
          </div>
          <div class="col-xs-6 col-sm-3 text-danger">
            <h5 class="mb-0">
              <strong>
                45%
              </strong>
            </h5>
            <small>
              GNI
            </small>
          </div>
          <div class="col-xs-6 col-sm-3">
            <h5 class="mb-0">
              <strong>
                4.56M
              </strong>
            </h5>
            <small>
              Aid Flows
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Country spending
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-sm-6 col-md-3 text-purple">
            <h5 class="mb-0">
              <strong>
                34.45B
              </strong>
            </h5>
            <small>
              Health
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                21.78B
              </strong>
            </h5>
            <small>
              Education
            </small>
          </div>
          <div class="col-sm-6 col-md-3 text-indigo">
            <h5 class="mb-0">
              <strong>
                2.89M
              </strong>
            </h5>
            <small>
              Research
            </small>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="mb-0">
              <strong>
                34.76B
              </strong>
            </h5>
            <small>
              Food
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Social Feed
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Last updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="activity-stream">
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face1.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Received a call from Joel
              </div>
              <div class="card-subtitle">
                at 3:14PM
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face2.jpg"/>
            <div class="card-header-text">
              <div class="card-title">
                Added Ellie to Group
              </div>
              <div class="card-subtitle">
                5 mins ago
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="mb-0">
              Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-purple card-inverse">
      <div class="card-header">
        Todos
      </div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo1">
              <label class="custom-control-label" for="todo1">Learn Angular 4</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo2">
              <label class="custom-control-label" for="todo2">Update Vue.JS</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo3">
              <label class="custom-control-label" for="todo3">Add ReactJS</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo4">
              <label class="custom-control-label" for="todo4">Upgrade Ember</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo5">
              <label class="custom-control-label" for="todo5">Read on Meteor</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="todo6">
              <label class="custom-control-label" for="todo6">Commit Riot changes</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card no-bg">
      <div class="card-body text-center rounded" style="background-image: url('assets/images/unsplash/2.jpg')">
        <img alt="" class="avatar-lg rounded-circle d-block mx-auto mb-3" src="assets/images/face4.jpg"/>
        <button class="btn btn-secondary btn-sm mb-3">
          Follow
        </button>
      </div>
      <div class="card-body pt-3 pb-3 ml-3 mr-3 bg-indigo text-white rounded" style="margin-top: -15px;">
        <div class="row text-center">
          <div class="col">
            <div class="h6 no-margin">
              62
            </div>
            <div class="small bold text-uppercase">
              Followers
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              98
            </div>
            <div class="small bold text-uppercase">
              Posts
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              29
            </div>
            <div class="small bold text-uppercase">
              Likes
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xl-4">
    <div class="card">
      <div class="card-header no-shadow">
        Messages
      </div>
      <ul class="list-group border-0">
        <li class="list-group-item border-top-0 border-left-0 border-right-0">
          <div class="d-flex align-items-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face1.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Amanda Alvarez
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item border-top-0 border-left-0 border-right-0">
          <div class="d-flex align-items-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face2.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Debra Kelly
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item border-top-0 border-left-0 border-right-0  border-bottom-0">
          <div class="d-flex align-items-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face3.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Walter Ryan
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card bg-indigo card-inverse">
      <div class="card-header no-shadow">
        Tweets
      </div>
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white">
          <p class="mb-1 w-100">
            Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
          </p>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-heart">
                </i>
              </a>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-share mr-3 ml-3">
                </i>
              </a>
            </div>
            <small>
              3m
            </small>
          </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white">
          <p class="mb-1 w-100">
            Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
          </p>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-heart">
                </i>
              </a>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-share mr-3 ml-3">
                </i>
              </a>
            </div>
            <small>
              3m
            </small>
          </div>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start no-bg text-white  border-bottom-0">
          <p class="mb-1 w-100">
            Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.
          </p>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-heart">
                </i>
              </a>
              <a href="javascript:;" class="text-white">
                <i class="icon icon-basic-share mr-3 ml-3">
                </i>
              </a>
            </div>
            <small>
              3m
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header no-shadow">
        News Feed
      </div>
      <ul class="list-group border-0">
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face4.jpg"/>
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face5.jpg"/>
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0  border-bottom-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face1.jpg">
            </a>
            <div class="pl-3">
              <span class="d-block">
                Donec ullamcorper nulla non metus auctor fringilla.
              </span>
              <small class="text-muted">
                Yesterday
              </small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>