<div class="card">
  <div class="card-header">Input text masks</div>
  <div class="card-body">
    <form class="form-horizontal" novalidate>

      <div class="form-group row">
        <label class="col-2 col-form-label">Required</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="requried" #requried="ngModel" required  [ngClass]="{'is-invalid': requried?.errors?.required}"/>
          <div class="invalid-feedback" *ngIf="requried?.errors?.required">required error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">minlength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="minlength" #minlength="ngModel" minlength="5"  [ngClass]="{'is-invalid': minlength?.errors?.minlength}"/>
          <div class="invalid-feedback" *ngIf="minlength?.errors?.minlength">minlength error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">maxlength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="maxlength" #maxlength="ngModel" maxlength="5"  [ngClass]="{'is-invalid': maxlength?.errors?.maxlength}"/>
          <div class="invalid-feedback" *ngIf="maxlength?.errors?.maxlength">maxlength error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">pattern</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="pattern" #pattern="ngModel" pattern="[a-z]{6}" [ngClass]="{'is-invalid': pattern?.errors?.pattern}"/>
          <div class="invalid-feedback" *ngIf="pattern?.errors?.pattern">pattern error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">base64</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="base64" #base64="ngModel" base64 [ngClass]="{'is-invalid': base64?.errors?.base64}"/>
          <div class="invalid-feedback" *ngIf="base64?.errors?.base64">base64 error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">creditCard</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="creditCard" #creditCard="ngModel" creditCard [ngClass]="{'is-invalid': creditCard?.errors?.creditCard}"/>
          <div class="invalid-feedback" *ngIf="creditCard?.errors?.creditCard">creditCard error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">date</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="date" #date="ngModel" date [ngClass]="{'is-invalid': date?.errors?.date}"/>
          <div class="invalid-feedback" *ngIf="date?.errors?.date">date error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">dateISO</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="dateISO" #dateISO="ngModel" dateISO [ngClass]="{'is-invalid': dateISO?.errors?.dateISO}"/>
          <div class="invalid-feedback" *ngIf="dateISO?.errors?.dateISO">dateISO error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">maxDate</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="maxDate" #maxDate="ngModel" maxDate="2016-12-12" [ngClass]="{'is-invalid': maxDate?.errors?.maxDate}"/>
          <div class="invalid-feedback" *ngIf="maxDate?.errors?.maxDate">maxDate error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">minDate</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="minDate" #minDate="ngModel" minDate="2016-12-12" [ngClass]="{'is-invalid': minDate?.errors?.minDate}"/>
          <div class="invalid-feedback" *ngIf="minDate?.errors?.minDate">minDate error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">digits</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="digits" #digits="ngModel" digits [ngClass]="{'is-invalid': digits?.errors?.digits}"/>
          <div class="invalid-feedback" *ngIf="digits?.errors?.digits">digits error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">email</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="email" #email="ngModel" email [ngClass]="{'is-invalid': email?.errors?.email}"/>
          <div class="invalid-feedback" *ngIf="email?.errors?.email">email error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">equal</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="equal" #equal="ngModel" equal="aabbcc" [ngClass]="{'is-invalid': equal?.errors?.equal}"/>
          <div class="invalid-feedback" *ngIf="equal?.errors?.equal">equal error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">notEqual</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="notEqual" #notEqual="ngModel" notEqual="aabbcc" [ngClass]="{'is-invalid': notEqual?.errors?.notEqual}"/>
          <div class="invalid-feedback" *ngIf="notEqual?.errors?.notEqual">notEqual error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">equalTo</label>
        <div class="col-10">
          <input class="form-control mb-3" type="text" ngModel name="password" #password="ngModel"/>
          <input class="form-control" type="text" ngModel name="equalTo" #equalTo="ngModel" [equalTo]="password" [ngClass]="{'is-invalid': equalTo?.errors?.equalTo}"/>
          <div class="invalid-feedback" *ngIf="equalTo?.errors?.equalTo">equalTo error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">notEqualTo</label>
        <div class="col-10">
          <input class="form-control mb-3" type="text" ngModel name="oldPassword" #oldPassword="ngModel"/>
          <input class="form-control" type="text" ngModel name="notEqualTo" #notEqualTo="ngModel" [notEqualTo]="oldPassword" [ngClass]="{'is-invalid': notEqualTo?.errors?.notEqualTo}"/>
          <div class="invalid-feedback" *ngIf="notEqualTo?.errors?.notEqualTo">notEqualTo error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">greater than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="gt" #gt="ngModel" gt="10" [ngClass]="{'is-invalid': gt?.errors?.gt}"/>
          <div class="invalid-feedback" *ngIf="gt?.errors?.gt">greater than error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">less than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="lt" #lt="ngModel" lt="5" [ngClass]="{'is-invalid': lt?.errors?.lt}"/>
          <div class="invalid-feedback" *ngIf="lt?.errors?.lt">less than error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">less than</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="lt" #lt="ngModel" lt="5" [ngClass]="{'is-invalid': lt?.errors?.lt}"/>
          <div class="invalid-feedback" *ngIf="lt?.errors?.lt">less than error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">json</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="json" #json="ngModel" json [ngClass]="{'is-invalid': json?.errors?.json}"/>
          <div class="invalid-feedback" *ngIf="json?.errors?.json">json error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">max</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="max" #max="ngModel" max="5" [ngClass]="{'is-invalid': max?.errors?.max}"/>
          <div class="invalid-feedback" *ngIf="max?.errors?.max">max error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">min</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="min" #min="ngModel" min="5" [ngClass]="{'is-invalid': min?.errors?.min}"/>
          <div class="invalid-feedback" *ngIf="min?.errors?.min">min error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">number</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="number" #number="ngModel" number [ngClass]="{'is-invalid': number?.errors?.number}"/>
          <div class="invalid-feedback" *ngIf="number?.errors?.number">number error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">phone</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="phone" #phone="ngModel" phone [ngClass]="{'is-invalid': phone?.errors?.phone}"/>
          <div class="invalid-feedback" *ngIf="phone?.errors?.phone">phone error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">range</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="range" #range="ngModel" [range]="[4,9]" [ngClass]="{'is-invalid': range?.errors?.range}"/>
          <div class="invalid-feedback" *ngIf="range?.errors?.range">range error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">rangeLength</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="rangeLength" #rangeLength="ngModel" [rangeLength]="[4,9]" [ngClass]="{'is-invalid': rangeLength?.errors?.rangeLength}"/>
          <div class="invalid-feedback" *ngIf="rangeLength?.errors?.rangeLength">rangeLength error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">url</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="url" #url="ngModel" url [ngClass]="{'is-invalid': url?.errors?.url}"/>
          <div class="invalid-feedback" *ngIf="url?.errors?.url">url error</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">uuid</label>
        <div class="col-10">
          <input class="form-control" type="text" ngModel name="uuid" #uuid="ngModel" uuid="3" [ngClass]="{'is-invalid': uuid?.errors?.uuid}"/>
          <div class="invalid-feedback" *ngIf="uuid?.errors?.uuid">uuid error</div>
        </div>
      </div>
    </form>
  </div>
</div>