<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Basic Map</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Styled Map</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles"></agm-map>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Polylines</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
          <agm-polyline>
            <agm-polyline-point [latitude]="lat" [longitude]="lng">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="latA" [longitude]="lngA">
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-shadow">Info Window</div>
      <div class="card-body p-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
          <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>InfoWindow content</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>