<div class="card">
  <div class="card-header">
    Basic table
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>
              Entity
            </th>
            <th>
              Volume
            </th>
            <th>
              Value
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
              </span>
              Facebook
            </td>
            <td>
              23,532
            </td>
            <td>
              573
            </td>
            <td class="align-middle">
              <span class="label label-success">40% Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Google
            </td>
            <td>
              78
            </td>
            <td>
              1,138
            </td>
            <td class="align-middle">
              <span class="label label-info">23% Complete (success)</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Yahoo
            </td>
            <td>
              895
            </td>
            <td>
              488
            </td>
            <td class="align-middle">
              <span class="label label-danger">78% Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Themeforest
            </td>
            <td>
              7653
            </td>
            <td>
              1,290
            </td>
            <td class="align-middle">
              <span class="label label-warning">56% Complete</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>
              </span>
              Evanto
            </td>
            <td>
              894
            </td>
            <td>
              478
            </td>
            <td class="align-middle">
              <span class="label label-info">49 Failed</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Inverse table
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Username
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @mdo
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Jacob
            </td>
            <td>
              Thornton
            </td>
            <td>
              @fat
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td>
              Larry
            </td>
            <td>
              the Bird
            </td>
            <td>
              @twitter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Table head options
  </div>
  <div class="card-body">
    <p>
      Use one of two modifier classes to make
      <code>
        &#60;thead&#62;
      </code>
      s appear light or dark gray.
    </p>
    <div class="row">
      <div class="col-lg-6">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>
                #
              </th>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Username
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                1
              </th>
              <td>
                Mark
              </td>
              <td>
                Otto
              </td>
              <td>
                @mdo
              </td>
            </tr>
            <tr>
              <th scope="row">
                2
              </th>
              <td>
                Jacob
              </td>
              <td>
                Thornton
              </td>
              <td>
                @fat
              </td>
            </tr>
            <tr>
              <th scope="row">
                3
              </th>
              <td>
                Larry
              </td>
              <td>
                the Bird
              </td>
              <td>
                @twitter
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>
                #
              </th>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Username
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                1
              </th>
              <td>
                Mark
              </td>
              <td>
                Otto
              </td>
              <td>
                @mdo
              </td>
            </tr>
            <tr>
              <th scope="row">
                2
              </th>
              <td>
                Jacob
              </td>
              <td>
                Thornton
              </td>
              <td>
                @fat
              </td>
            </tr>
            <tr>
              <th scope="row">
                3
              </th>
              <td>
                Larry
              </td>
              <td>
                the Bird
              </td>
              <td>
                @twitter
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Striped rows
  </div>
  <div class="card-body">
    <p>
      Use
      <code>
        .table-striped
      </code>
      to add zebra-striping to any table row within the
      <code>
        &#60;tbody&#62;
      </code>
    </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Username
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @mdo
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Jacob
            </td>
            <td>
              Thornton
            </td>
            <td>
              @fat
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td>
              Larry
            </td>
            <td>
              the Bird
            </td>
            <td>
              @twitter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Bordered table
  </div>
  <div class="card-body">
    <p>
      Add
      <code>
        .table-bordered
      </code>
      for borders on all sides of the table and cells.
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Username
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @mdo
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @TwBootstrap
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td>
              Jacob
            </td>
            <td>
              Thornton
            </td>
            <td>
              @fat
            </td>
          </tr>
          <tr>
            <th scope="row">
              4
            </th>
            <td colspan="2">
              Larry the Bird
            </td>
            <td>
              @twitter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Hoverable rows
  </div>
  <div class="card-body">
    <p>
      Add
      <code>
        .table-hover
      </code>
      to enable a hover state on table rows within a
      <code>
        &#60;tbody&#62;
      </code>
      .
    </p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Username
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @mdo
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Jacob
            </td>
            <td>
              Thornton
            </td>
            <td>
              @fat
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td colspan="2">
              Larry the Bird
            </td>
            <td>
              @twitter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Small table
  </div>
  <div class="card-body">
    <p>
      Add
      <code>
        .table-sm
      </code>
      to make tables more compact by cutting cell padding in half.
    </p>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Username
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Mark
            </td>
            <td>
              Otto
            </td>
            <td>
              @mdo
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Jacob
            </td>
            <td>
              Thornton
            </td>
            <td>
              @fat
            </td>
          </tr>
          <tr>
            <th scope="row">
              3
            </th>
            <td colspan="2">
              Larry the Bird
            </td>
            <td>
              @twitter
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Contextual classes
  </div>
  <div class="card-body">
    <p>
      Use contextual classes to color table rows or individual cells.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Column heading
            </th>
            <th>
              Column heading
            </th>
            <th>
              Column heading
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">
              1
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-success">
            <th scope="row">
              3
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              4
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-info">
            <th scope="row">
              5
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              6
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-warning">
            <th scope="row">
              7
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr>
            <th scope="row">
              8
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
          <tr class="table-danger">
            <th scope="row">
              9
            </th>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
            <td>
              Column content
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>